.copy {
  --copy-space: 2.5rem;
}

.copy > h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 2em;
  line-height: var(--lh1);
  letter-spacing: var(--lsh);
}

.copy > h2 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 1.5em;
  line-height: var(--lh1);
  letter-spacing: var(--lsh);
}

.copy > h3 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.25em;
  line-height: var(--lh1);
  letter-spacing: var(--lsh);
}

.copy a {
  text-decoration: var(--underline);
}

.copy em {
  font-style: italic;
}

.copy strong {
  font-weight: bold;
}

.copy ul > li {
  padding-left: 3ch;
}

.copy ul > li::before {
  content: '\2014';
  display: block;
  float: left;
  clear: left;
  width: 3ch;
  margin-left: -3ch;
}

.copy ol {
  counter-reset: ol;
}

.copy ol > li {
  padding-left: 3ch;
}

.copy ol > li::before {
  counter-increment: ol;
  content: '0' counter(ol) '.';
  display: block;
  float: left;
  clear: left;
  width: 3ch;
  margin-left: -3ch;
  font-variant-numeric: tabular-nums;
}

.copy ol > li:nth-child(n + 10)::before {
  content: counter(ol) '.';
}

.copy > ul p,
.copy > ol p {
  margin-top: var(--copy-space);
}

.copy blockquote {
  border-left: 2px solid;
  padding-left: calc(3ch - 2px);
}

.copy pre {
  white-space: pre-wrap;
  background-color: var(--bg-shade);
  padding: 20px 2ch;
  overflow-wrap: break-word;
  & code {
    background-color: transparent;
  }
}

.copy code {
  font-family: var(--code-font-family);
  font-size: 16px;
  line-height: 20px;
  background-color: var(--bg-shade);
}

.copy img {
  display: block;
  max-width: 100%;
  height: auto;
}

.copy figcaption {
  margin-top: 0.5rem;
  /* font-style: italic; */
  font-size: 1rem;
  text-align: center;
}
