/*! Tablo Theme | https://tablo.me */

@import 'tailwindcss';

/* purgecss start ignore */

@import './buttons';
@import './copy';

@theme {
  --color-text: var(--color-neutral-950);
  --color-background: var(--color-white);
  --color-shade: color-mix(in srgb, var(--color-text), transparent 95%);

  --spacing-container: 49rem;

  --text-action: 18px;
  --text-action--line-height: 24px;
  --text-metadata: 20px;
  --text-metadata--line-height: 24px;
  --text-xl--line-height: 1.25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-neutral-100);
    --color-background: var(--color-neutral-950);
  }
}

@layer base {
  body {
    color: var(--color-text);
    background-color: var(--color-background);
    text-underline-offset: 2px;
    & * {
      text-decoration-thickness: 1px;
    }
  }
}
