/* purgecss start ignore */
@import 'abrusco/base';
/* purgecss end ignore */
@import 'abrusco/modules';

/* purgecss start ignore */
@import 'buttons.css';
@import 'copy.css';
/* purgecss end ignore */

@import 'abrusco/utils';
@import 'abrusco/debug';

/* purgecss start ignore */

.logo {
  &,
  & a,
  & img,
  & svg {
    display: block;
  }
}

:root {
  --text-decoration-thickness: 1px;
  --text-underline-offset: 2px;
  --bg-shade: #f8f8f8;
}

/* purgecss end ignore */
